@page "/contactme"

<h1>Contact Me</h1>
<hr />
<div class="generalInfo infoBlock">
    <p>
        If you are looking at this app you are probably fully aware of my Linked In Profile and that is by far the best way to contact me about work, but if you are here by
        chance and would like to get in touch you can send me a quick message below or head over to my Linked In page and get aholda me there.
    </p>
    <p>
        For Now Contact Me At <a href="mailto:justinmann.mail@gmail.com">justinmann.mail@gmail.com</a>..  Later I will put a form here to post messages to the email service.
    </p>
    <div class="emailFormPlaceholder">
        <div class="load-wraper"><div class="activity"></div></div>
    </div>
</div>