@page "/"

<h1>My Digital Resume</h1>
<p>
    Hello, My name is <b>Justin</b> and I am a <b>Full-Stack Application Developer</b> and Solutions Provider with a passion for solving problems and understanding things.
    I built this app to provide a digital copy of my resume and to act as part of my digital portfolio...
</p>
<h4>The Plan...</h4>
<p>
    This is a fairly simple <b>Blazor Client-Side Assembly Application</b> that is hosted in AKS and relieson an API to get my resume data (stored in Cosmos db).
</p>
<img src="img/resumeapp.simpleDomain.png" class="img-fluid mx-auto d-block" />
<br />
<br />
<p>
    This could have been MUCH simpler.. but as I said this is a skill showcase for me as well.  I may build in an identity system and support login and
    build an administrative portal to allow for resume creation and manipulation in the future, but I never intend to make this an n-tier application and
    it will only ever display my resume. I may also do other implementations of this simple app in different frontend frameworks and languages as I see fit,
    but mainly I was curious about Blazor so I wrote a simple client application (this) to learn more.
</p>
<h4>Why.. Wouldn't a Static Site Be A Better Solution?</h4>
<p>
    A static asset would be a much more reasonable approach to something this simple, but that is not the point.. my resume is already very much in
    circulation and in front of the folks that need to see it, this is all done in an effort to have an application and some code out there that is
    representative of the work I can do.<br />
    The main point of all this was to update my technical profile with some of my newest skillsets so I maintained this project as a full stack cloud
    hosted solution while I developed it to showcase containerization, microservices, several cloud solution integrations, and CI/CD assets;
    to learn more about the project and the seperate containerized services check out the 'About This' Page.  You can also check out my
    <a target="_blank" href="https://www.linkedin.com/in/justin-mann-b3822075/">LinkedIn Page</a> or explore my public repositories on
    <a target="_blank" href="https://github.com/Justin-Mann">GitHub</a>.
</p>